
<app-notification
  [title]="'Success'"
  [show]="showSuccess"
  message="{{notificationMessage}}"
  [cssClasses]="'border-green-500	bg-green-50	text-green-800'">
</app-notification>

<app-notification
  [title]="'Error'"
  [show]="showError"
   message="{{notificationMessage}}"
  [cssClasses]="'border-red-500	bg-red-50	text-red-800'">
</app-notification>

<page-loader *ngIf="showLoading"></page-loader>

<section class="min-h-screen flex items-center justify-center flex-col px-4 sm:px-6 md:px-8 py-8">
    <logo-lib
      [cssClasses]="'w-20 h-20 object-contain bg-[#F5F5F5] mb-6 rounded-full'"
      [imageUrl]="'https://thumbs.dreamstime.com/b/bgc-letter-logo-design-black-background-creative-initials-concept-242726836.jpg'"
      [altName]="'Logo'"
    ></logo-lib>

  <h2 class="text-2xl font-semibold text-center text-gray-800 mb-8 font-montserrat">Sign up with us</h2>
  <form class="bg-white rounded-xl w-full sm:max-w-[90%] md:max-w-[40%] p-6 shadow space-y-4" [formGroup]="signUpForm">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <input type="text" placeholder="First Name" formControlName="firstName"
        class="w-full p-4 border border-[#0D192E] rounded-lg focus:outline-none focus:border-brown-600 transition" />
      <input
          type="text"
          placeholder="Last Name"
          formControlName="lastName"
          class="w-full p-4 border border-[#0D192E] rounded-lg focus:outline-none focus:border-brown-600 transition"
      />
      <input
          type="text"
          placeholder="Preferred Name"
          formControlName="preferredName"
          class="w-full p-4 border border-[#0D192E] rounded-lg focus:outline-none focus:border-brown-600 transition"
      />
      <select
          formControlName="gender"
          class="w-full p-4 border border-[#0D192E] rounded-lg focus:outline-none focus:border-brown-600 transition text-gray-700" >
        <option value="" disabled selected>Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>

      <input
          type="email"
          placeholder="Enter your Email"
          formControlName="email"
          class="w-full p-4 border border-[#0D192E] rounded-lg focus:outline-none focus:border-brown-600 transition md:col-span-2"
      />

      <input
          type="password"
          placeholder="Password"
          formControlName="password"
          class="w-full p-4 border border-[#0D192E] rounded-lg focus:outline-none focus:border-brown-600 transition md:col-span-2"
      />
    </div>

    <button (click)="signup()"
      class="w-full bg-[#0d192e] text-white p-4 rounded-lg hover:bg-brown-700 transition text-md uppercase"
      [disabled]="signUpForm.invalid"
      [disabled]="signUpForm.invalid"
      [ngClass]="{'btn-valid': signUpForm.valid, 'btn-invalid': signUpForm.invalid}"> Sign up
    </button>

    <navigate-to
      [guide]="'Already have an account?'"
      [redirectMessage]="'Sign in'"
      [redirectTo]="''">
    </navigate-to>
  </form>
</section>
