<div class="flex h-screen">
  <app-sidebar></app-sidebar>

  <page-loader *ngIf="!userProfileData"></page-loader>

 <section class="flex-1 p-6 overflow-auto" *ngIf="userProfileData">
    <user-profile
    firstName="{{userProfileData.firstName}}"
    lastName="{{userProfileData.lastName}}"
    preferredName="{{userProfileData.preferredName}}"
    email="{{userProfileData.email}}"
    gender="{{userProfileData.gender}}"
    createdAt="{{userProfileData.createdAt }}"
    updatedAt="{{userProfileData.updatedAt}}"
    ></user-profile>
</section>
</div>
